- model_class = IncomingMessage

.page-header
  %h1 Incoming messages

= link_to icon_text("trash", "Destroy all"), [:destroy_all, :incoming_messages], method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger"
= link_to icon_text("refresh", "Refresh"), incoming_messages_path, class: "btn btn-sm btn-default"
= link_to icon_text("file", "CSV"), incoming_messages_path(format: :csv), class: "btn btn-sm btn-primary"

.row
  .col-lg-12
    .text-right= page_entries_info @incoming_messages
    .text-center= paginate @incoming_messages, theme: "twitter-bootstrap-3"

    %table.table.table-striped.table-condensed#incoming_messages
      %thead
        %tr
          %th= sort_link(@q, :timestamp, default_order: :desc)
          %th= sort_link(@q, :gateway_eui)
          %th= sort_link(@q, :device_eui)
          %th= sort_link(@q, :frequency)
          %th= sort_link(@q, :rssi)
          %th= sort_link(@q, :snr)
          %th Raw data
          %th= sort_link(@q, :status)
      %tbody
        - @incoming_messages.each do |incoming_message|
          %tr{ id: dom_id(incoming_message) }
            %td= link_to incoming_message.timestamp, incoming_message_path(incoming_message)
            %td= incoming_message.human_gateway
            %td= incoming_message.device_eui
            %td
              = incoming_message.frequency
              MHz
            %td= incoming_message.rssi
            %td= incoming_message.snr
            %td= incoming_message.data
            %td= incoming_message.status

    .text-center= paginate @incoming_messages, theme: "twitter-bootstrap-3"
