- model_class = IncomingMessage

.page-header
  %h1 Incoming messages

.row
  .col-md-4
    = link_to icon_text("trash", "Delete all"), [:destroy_all, :incoming_messages], method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger"
    = link_to icon_text("refresh", "Refresh"), "#", class: "btn btn-sm btn-default", id: "refresh-link"
  .col-md-1
    &nbsp;
  .col-md-7
    = search_form_for @q do |f|
      .row
        .col-sm-3
          = f.input :identifier_eq, as: :select, collection: identifiers.prepend(""), include_blank: false, input_html: { class: "input-sm" }, required: false, label: "Filter device:"

.row
  .col-lg-12
    .text-right= page_entries_info @incoming_messages
    .text-center= paginate @incoming_messages, theme: "twitter-bootstrap-3"

    %table.table.table-striped.table-condensed#incoming_messages
      %thead
        %tr
          %th= sort_link(@q, :timestamp, default_order: :desc)
          %th= model_class.human_attribute_name(:gateway_eui)
          %th= model_class.human_attribute_name(:identifier)
          %th= model_class.human_attribute_name(:frequency)
          %th= model_class.human_attribute_name(:rssi)
          %th= model_class.human_attribute_name(:snr)
          %th Payload
      %tbody
        - @incoming_messages.each do |incoming_message|
          %tr{ id: dom_id(incoming_message) }
            %td= link_to incoming_message.timestamp, incoming_message_path(incoming_message)
            %td= incoming_message.gateway_eui
            %td= incoming_message.identifier
            %td
              - if incoming_message.frequency.present?
                = incoming_message.frequency
                MHz
            %td= incoming_message.rssi
            %td= incoming_message.snr
            %td= incoming_message.data

    .text-center= paginate @incoming_messages, theme: "twitter-bootstrap-3"
