.col-sm-6.col-md-4.col-lg-3
  .thumbnail
    - if device.photo.present?
      = link_to image_tag(device.photo.url(:thumb)), device
    - else
      = link_to device, class: "no-hover" do
        .text-center
          %p{style: "font-size: 5em;"}= icon_text("dashboard")

    .row
      .col-lg-12
        &nbsp;
    .row
      .col-lg-12
        %h3.truncate= device.name
    .row
      .col-lg-12
        Fijnstofniveau
        = dust_level_badge(device)
    .row
      .col-lg-12
        - if device.location.present?
          = icon_text("map-marker")
          %em= device.location
        - else
          &nbsp;
