- model_class = Device

.page-header
  %h1
    = @device.name
    %small=t '.title', default: [:'helpers.titles.edit', 'Edit %{model}'], model: model_class.model_name.human.titleize

= simple_form_for @device do |f|
  .row
    .col-md-4
      = f.input :name
      = f.input :location
      = f.input :transport, collection: TRANSPORTS
      = f.input :device_eui, hint: "Alleen nodig voor LoRa."
      .form-group
        %label.control-label API key
        %br
        .well= @device.api_key

      .form-group.text-right
        = link_to icon_text("refresh", "API key vernieuwen"), [:regenerate_api_key, @device], method: :put, data: {confirm: "Deze actie maakt de vorige API key ongeldig. Ben je zeker?"}, class: "btn btn-warning btn-sm"
  %hr
  = f.button :submit, class: 'btn-primary'
  = link_to t('.cancel', default: t("helpers.links.cancel")), @device, class: 'btn btn-default'
