- content_for(:title) do
  Mijn meters

.page-header
  %h1
    Mijn meters

%p.text-right= page_entries_info @devices
.text-center= paginate @devices, theme: "twitter-bootstrap-3"

.row
  - @devices.each do |device|
    .col-sm-6.col-lg-4
      .thumbnail
        %h1.text-center{style: "font-size: 5em;"}= icon_text("dashboard")
        .caption
          %h3= device.name
          %p
            Huidig fijnstofniveau:
            = dust_level_badge
          %p
            = link_to icon_text("line-chart", t("helpers.links.graphs")), device, class: "btn btn-primary btn-sm"
            = link_to icon_text("list", t("helpers.links.measurements")), device, class: "btn btn-primary btn-sm"
            = link_to icon_text("pencil", t("helpers.links.edit")), [:edit, device], class: "btn btn-warning btn-sm"

.text-center= paginate @devices, theme: "twitter-bootstrap-3"
