- content_for(:title) do
  = t(".title")

.page-header
  .row
    .col-sm-8
      %h1= t(".title")
    .col-sm-4
      .text-right
        = link_to icon_text("plus", "Meter toevoegen"), [:new, :device], class: "btn btn-info"

%p.text-right= page_entries_info @devices
.text-center= paginate @devices, theme: "twitter-bootstrap-3"

.row
  .col-lg-12
    - if @devices.any?
      = render @devices
    - else
      Geen meters.
      = link_to "Voeg er een toe.", [:new, :device]

.text-center= paginate @devices, theme: "twitter-bootstrap-3"
