- model_class = User

.row
  .col-lg-3
    .row
      .col-sm-4.col-lg-12
        .well
          = link_to icon_text("plus", t('.new', default: t("helpers.links.new"))), new_user_path, class: 'btn btn-info btn-block'

  .col-lg-9
    .text-right=page_entries_info @users
    .text-center= paginate @users, theme: "twitter-bootstrap-3"

    %table.table.table-striped#users
      %thead
        %tr
          %th= sort_link(@q, :last_name, model_class.human_attribute_name(:full_name))
          %th= sort_link(@q, :email)
          %th= sort_link(@q, :created_at, default_order: :desc)
          -# %th= sort_link(@q, :admin, default_order: :desc)
      %tbody
        - @users.each do |user|
          %tr{ id: dom_id(user) }
            %td
              = link_to user_path(user) do
                = user.full_name
                - if user == current_user
                  %small
                    %i== (#{t("devise.this_is_you")})
            %td= user.email
            %td=l user.created_at, format: :short
            -# %td= user.admin? ? t("simple_form.yes") : t("simple_form.no")

      .text-center= paginate @users, theme: "twitter-bootstrap-3"
