.row
  .col-sm-4.col-sm-offset-4
    .page-header
      %h2= t("devise.change_password")
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, autocomplete: "off" }) do |f|
      = f.input :reset_password_token, as: :hidden
      = f.full_error :reset_password_token
      = f.input :password, required: true, autofocus: true, label: false, placeholder: t("devise.new_password")
      = f.button :submit, t("devise.change_my_password"), class: "btn btn-primary btn-block"

    %p= render "devise/shared/links"
