.row
  .col-md-4.col-md-offset-4
    %h2= icon_text("sign-in", t("devise.sign_in"))
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email, required: true, autofocus: true, label: false, placeholder: "E-mail"
      = f.input :password, required: true, label: false, placeholder: "Wachtwoord"
      = f.button :submit, t("devise.sign_in"), class: "btn btn-primary btn-block"

    %p= render "devise/shared/links"
