- content_for :scripts do
  :javascript
    $(function () {
        var options1 = {
            chart: {
              renderTo: 'container1'
            },
            title: {
              text: 'P1 ratio'
            },
            xAxis: {
              title: {
                text: 'Meting'
              }
            },
            yAxis: {
              title: {
                text: 'P1 ratio'
              }
            },
            tooltip: {
              formatter: function() {
                return this.point.timestamp + '<br><b>'+ this.point.y + '</b>';
              }
            },
            legend: {
                enabled: false
            },
            series: [{
              color: '#ffff00',
              name: 'P1 ratio',
              data: #{@measurements.map{|m| {y: m.p1_ratio, timestamp: m.timestamp.strftime("%d-%m-%Y %H:%M")}}.to_json}
            }]
        };
        var options2 = {
            chart: {
              renderTo: 'container2'
            },
            title: {
              text: 'P2 ratio'
            },
            xAxis: {
              title: {
                text: 'Meting'
              }
            },
            yAxis: {
              title: {
                text: 'P2 ratio'
              }
            },
            tooltip: {
              formatter: function() {
                return this.point.timestamp + '<br><b>'+ this.point.y + '</b>';
              }
            },
            legend: {
                enabled: false
            },
            series: [{
              color: '#00ff00',
              name: 'P2 ratio',
              data: #{@measurements.map{|m| {y: m.p2_ratio, timestamp: m.timestamp.strftime("%d-%m-%Y %H:%M")}}.to_json}
            }]
        };

        var chart1 = new Highcharts.Chart(options1);
        var chart2 = new Highcharts.Chart(options2);

    });

.row
  .col-sm-12
    = search_form_for @q, url: [:chart, :measurements] do |f|
      .row
        .col-sm-3
          .form-group
            = f.search_field :timestamp_gteq, class: "form-control input-sm", placeholder: "Van"
        .col-sm-3
          .form-group
            = f.search_field :timestamp_lteq, class: "form-control input-sm", placeholder: "Tot"
        .col-sm-6
          = f.submit "Filter", class: "btn btn-primary btn-sm"
          = link_to "Reset", [:chart, :measurements], class: "btn btn-default btn-sm"
%br
#container1{style: "min-width: 400px; height: 400px; margin: 0 auto"}
#container2{style: "min-width: 400px; height: 400px; margin: 0 auto"}
