- content_for(:title) do
  Mijn metingen

.page-header
  %h1
    Mijn metingen
    %small Alle metingen

= link_to icon_text("trash", "Verwijder all metingen"), [:destroy_all, :measurements], method: :delete, data: {confirm: "Alle metingen worden verwijderd. Dit kan niet ongedaan gemaakt worden. Ben je zeker?"}, class: "btn btn-sm btn-danger"

%p.text-right= page_entries_info @measurements
.text-center= paginate @measurements, theme: "twitter-bootstrap-3"

.table-responsive
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th ID
        %th.text-center= sort_link(@q, :timestamp)
        %th.text-center= Measurement.human_attribute_name(:p1_ratio)
        %th.text-center= Measurement.human_attribute_name(:p2_ratio)
        %th.text-center= Measurement.human_attribute_name(:p1_count)
        %th.text-center= Measurement.human_attribute_name(:p2_count)
        %th.text-center= Measurement.human_attribute_name(:temperature)
        %th.text-center= Measurement.human_attribute_name(:humidity)

    %tbody
      - @measurements.each do |measurement|
        %tr
          %th{ scope: "row" }= link_to measurement.id, measurement
          %td.text-center.nowrap= l Time.at(measurement.timestamp), format: :short
          %td.text-center
            = measurement.p1_ratio
            \%
          %td.text-center
            = measurement.p2_ratio
            \%
          %td.text-center= number_with_delimiter(measurement.p1_count)
          %td.text-center= number_with_delimiter(measurement.p2_count)
          %td.text-center
            = measurement.temperature
            °C
          %td.text-center
            = measurement.humidity
            \%

.text-center= paginate @measurements, theme: "twitter-bootstrap-3"
