= render "public/shared/header"

%p.text-right= page_entries_info @measurements
.text-center= paginate @measurements, theme: "twitter-bootstrap-3"

.table-responsive
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th ID
        %th.text-center= sort_link(@q, :transport)
        %th.text-center= sort_link(@q, :timestamp)
        %th.text-center= Measurement.human_attribute_name(:p1_ratio)
        %th.text-center= Measurement.human_attribute_name(:p2_ratio)
        %th.text-center= Measurement.human_attribute_name(:pm25_ratio)
        %th.text-center= Measurement.human_attribute_name(:p1_count)
        %th.text-center= Measurement.human_attribute_name(:p2_count)
        %th.text-center= Measurement.human_attribute_name(:temperature)
        %th.text-center= Measurement.human_attribute_name(:humidity)

    %tbody
      - @measurements.each do |measurement|
        %tr{class: measurement.is_valid? ? nil : "danger"}
          %th{ scope: "row" }= measurement.id
          %td.text-center.nowrap= measurement.transport
          %td.text-center.nowrap= l Time.at(measurement.timestamp), format: "%d-%m-%Y %H:%M:%S"
          %td.text-center
            = measurement.p1_ratio
            \%
          %td.text-center
            = measurement.p2_ratio
            \%
          %td.text-center
            = measurement.pm25_ratio
            \%
          %td.text-center= number_with_delimiter(measurement.p1_count)
          %td.text-center= number_with_delimiter(measurement.p2_count)
          %td.text-center
            = measurement.temperature
            °C
          %td.text-center
            = measurement.humidity
            \%

.text-center= paginate @measurements, theme: "twitter-bootstrap-3"
